#---------------------------------
# Misc
#---------------------------------
**/node_modules/
dist/
public/
tmp/
.tmp/

#---------------------------------
# Firebase
#---------------------------------
functions/
.firebase/


#---------------------------------
# Testing
#---------------------------------
test-report.html

#---------------------------------
# Secrets
#---------------------------------
bin/admin/secret


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDEs + Editors
#---------------------------------
.idea/
.project
*.iml
*.sublime-workspace


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
