#---------------------------------
# Directories
#---------------------------------
**/node_modules/
dist/
public/
tmp/
functions/

#---------------------------------
# Secrets
#---------------------------------
bin/admin/secret.json


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDEs + Editors
#---------------------------------
.idea/
.project
*.iml
*.sublime-workspace


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
