html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
}

/*
 * Never "select" buttons.
 * @see http://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
 */
button:focus {outline:none !important;}
button:active { outline:none !important; }

// don't use this. use Bootstrap's "invisible" instead!
// .hidden {
//   visibility: hidden !important;
// }

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
}

.overlay-screen > div {
  height: 100%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center; /* horizontal */
}

.loading {
  color: gray;
}

.loading-block {
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center; /* vertical */
  align-items: center; /* horizontal */
}

/**
 * HACKFIX: react-bootstrap seems to slightly mess up the navbar?
 * @see http://stackoverflow.com/a/20432251/2228771
 */
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #DDDDDD;
  border-left-color: #EEEEEE;
}

/* Remove bootstrap progress bar's margin */
.progress, .progress * {
  margin: 0 !important;
}


/**
 * #######################################################
 * Make Bootstrap a little more mobile-friendly
 * #######################################################
 */

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
      display: none;
   }

   .navbar-inverse {
     border-radius: 0 !important;
   }

   .container {
     padding: 0 !important;
   }

   .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

  .panel-body {
    padding: 2px 0 !important;
  }
}


/**
 * #######################################################
 * All kinds of basic classes for any occasion
 * #######################################################
 */

/* Remove border around blocks */
.blocklyMainBackground {
  stroke: rgba(0,0,0,0) !important;
}

/* Remove the drag surface from the workspace entirely */
.blocklyDragSurface {
  display: none;
}

.flex-row-multi {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}


.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 !important;
}
.no-shadow {
  box-shadow: none !important;
}

.margin-half {
  margin: 0.5em;
}
.margin {
  margin: 1em;
}
.margin2 {
  margin: 2em;
}
.margin5 {
  margin: 5em;
}
.margin10 {
  margin: 10em;
}
.margin-auto {
  margin: auto;
}

.padding-half {
  padding: 0.5em;
}
.padding {
  padding: 1em;
}
.padding2 {
  padding: 2em;
}


.color-green {
  color: green;
}
.color-lightgreen {
  color: lightgreen;
}
.color-gray {
  color: gray;
}
.color-lightgray {
  color: lightgray;
}
.color-red {
  color: red;
}
.color-yellow {
  color: yellow;
}
.color-lightyellow {
  color: lightyellow;
}
.color-lightred {
  color: IndianRed;
}
.color-darkred {
  color: darkred;
}
.color-blue {
  color: blue;
}
.color-lightblue {
  color: lightblue;
}
.color-darkblue {
  color: darkblue;
}
.color-maroon {
  color: maroon !important;
}

.no-background {
  background-color: rgba(0,0,0,0) !important;
  background-image: none !important;
}

.background-lightyellow {
  background-color: lightyellow !important;
  background-image: none !important;
}

.background-lightyellow * {
  background-color: lightyellow !important;
  background-image: none !important;
}

.background-red {
  background-color: red;
  background-image: none;
}

.background-light-red {
  background-color: IndianRed;
  background-image: none;
}



.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block;
}

.inline-hcenter {
  text-align: center;
}

.inline-hright {
  text-align: right;
}

.inline-vcentered {
  vertical-align: middle;
}

.right-bound {
  direction: rtl;
}

.no-wrap {
  white-space: nowrap;
}

.multiline-text {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  text-align: start !important;
}

.yellow-highlight-border {
  border: 4px solid rgba(255, 208, 0, 0.774);
};

.red-highlight-border {
  border: 4px solid rgba(255, 208, 0, 0.774);
};

.no-highlight-border {
  border: 4px solid rgba(255, 208, 0, 0);
}

.nowrapper-hidden {
  white-space: nowrap;
  overflow: hidden;
}

/**
 * #######################################################
 * App-specific classes: Header + Footer
 * #######################################################
 */

.header {
  // place on top of load overlays
  position: relative;
  z-index: 100;
}

.header-gavel-button {
}

.header-gavel-button.active {
}

.header-right-container {
  height: 100%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.header-right > a {
  padding: 0 !important;
}


.footer  { order: 3; }


/**
 * #######
 * max-size-
 * #######
 */

.max-size-1 {
  max-width: 1em;
  max-height: 1em;
}

.max-size-1-5 {
  max-width: 1.5em;
  max-height: 1.5em;
}

.max-size-2 {
  max-width: 2em;
  max-height: 2em;
}

.max-size-3 {
  max-width: 3em;
  max-height: 3em;
}

.max-size-4 {
  max-width: 4em;
  max-height: 4em;
}

/**
 * #######
 * size-
 * #######
 */

.size-1-5 {
  width: 1.5em;
  height: 1.5em;
}

.size-2 {
  width: 2em;
  height: 2em;
}

.size-3 {
  width: 3em;
  height: 3em;
}

.size-4 {
  width: 4em;
  height: 4em;
}

/**
 * #######
 * width-
 * #######
 */

.width-2 {
  width: 2em;
}


/**
 * #######
 * font-size-*
 * #######
 */

.font-size-half {
  font-size: 0.5em;
}

.font-size-03 {
  font-size: 0.3em;
}

/**
 * #######################################################
 * App-specific classes: Users
 * #######################################################
 */

 .user-icon {
   border-radius: 50%;
 }



//  .user-tag {
//   /*display: flex;
//   align-items: center; /* align vertical */
//  }

/**
 * #######################################################
 * App-specific classes: Project, Project, Mission + Sprints
 * #######################################################
 */

 .project-team {
   font-size: 1.5em;
 }

.project-contributor {
  position: relative;
  color: black;
}

.project-contributor > img {
  width: 100% !important;
  height: 100% !important;
  font-size: 1em !important;
}

.project-contributor {
  font-size: 1em !important;
}

.project-contributor > i {
  width: 100% !important;
  height: 100% !important;
}

.project-contributor-any {
  max-width: 1em;
  max-height: 1em;
  font-size: 1em;
}

.project-contributor-party {
  max-width: 1.5em;
  max-height: 1.5em;
  font-size: 1.5em;
}

.project-contributor-reviewer {
  max-width: 1em;
  max-height: 1em;
  font-size: 1em;
}

.project-contributor-gm {
  max-width: 1em;
  max-height: 1em;
  font-size: 1em;
}

.project-contributor-status-icon {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.stage-progress-bar-container {
  overflow-x: auto;
}

.project-stage-arrow {
  font-size: 5em;
}

.stage-progress-icon {
  border-radius: 8px;
  min-width: 5em;
}

.stage-progress-icon.root {
  border: none;
};

.stage-progress-icon.active {
  border: 4px solid rgba(255, 208, 0, 0.774);
};

.stage-progress-icon.with-children {
  border: 1px solid black;
  border-radius: 0;
  padding: 4px;
};


.project-icon {
  @extend .max-size-1-5;
  
  border: 1px solid #333;
}


/**
 * #######################################################
 * Learner status
 * #######################################################
 */

.learner-status-entry {
  border: 1px solid black;
  border-radius: 6px;
}


/**
 * #######################################################
 * App-specific classes: Util
 * #######################################################
 */

.markdown {
  max-width: 100%;
}

.markdown * {
  max-width: 100% !important;
}


/**
 * #######################################################
 * Forms
 * #######################################################
 */

.formItemsInput > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px 5px;
}

.formItemsInput > div > label {
  flex: 1;
  width: 100%;
}

.formItemsInput > div > div {
  flex-flow: column nowrap;
  position: relative;
  flex: 1;
  width: 100%;
}

.formSection {
  flex-flow: column nowrap !important;
}
.formSection > * {
}

.formInputOption {
  flex: 1;
  width: 100%;
  font-weight: normal !important;
}

.form-label > * {
  font-weight:initial;
}

/**
 * #######################################################
 * MultiMedia stuff
 * #######################################################
 */

 .media-stream-panel {
 }

.media-panel-video {
  max-width: 100%;
  max-height: 50vh;
  display: block;
}

/**
 * @see https://stackoverflow.com/a/36505930
 */
.slow-blink {
  animation: blinker 1.2s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.vjs-current-time, .vjs-time-divider, .vjs-duration {
  display: block !important;
}

.vjs-remaining-time {
  display: none !important;
}

.vjs-time-control {
  //display: block !important;
  padding: 0 !important;
  text-align: center !important;
}


/**
 * #######################################################
 * Utility classes for content embedding
 * #######################################################
 */


/* see: http://stackoverflow.com/questions/25302836/responsive-video-iframes-keeping-aspect-ratio-with-only-css */

.fill-16-9 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
}

.fill-16-9 * {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.fill-4-3 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.fill-4-3 * {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}


.spaced-row {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.space {
  margin: 0.5em;
}

.project-stage-panel > .panel-body {
  padding: 0 !important;
}

@font-face {
  font-family: 'digital';
  src: url('../../../resources/digital.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'minisystem';
  src: url('../../../resources/minisystem.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.media-size-label {
  font-family: 'minisystem';
}